/* Add here all your CSS customizations */
.cfx:after{display:block;clear:both;content:"";}
.cfx{zoom:1;}

.user_nav {}
.user_nav li {border-bottom:1px solid #fff;background:none;}
.user_nav li > p {margin-bottom:10px;}
.user_nav li .label.label-danger  {background:none;}
.user_nav li .progress {height:auto;background:none;border-radius:0;}
.user_nav li .progress-bar {height:10px;}
.user_nav li .progress-bar-primary {background-color:#00acac;}
.user_nav li .progress-bar-info {background-color:#348fe2;}
.user_nav li .label-danger {}

.user_progress .user_progress_bar {zoom:1;}
.user_progress .user_progress_bar:after {display:block;clear:both;content:"";}

.user_p_primary,.user_p_info {display:inline-block;color:#fff;}
.user_p_primary {}
.user_p_info {}
.user_name {color:#fff;}

.user_nav li .label-danger:before {
    content: '\f10c';
    font-family: FontAwesome;
    position: absolute;
    left: 18px;
    font-size: 7px;
    color: #ff5b57;
    top: 19px;
    margin-top: -4px;
    margin-left: -6px;
}

/*.user_nav li .progress {margin-bottom:5px;background:none;}*/
/*.user_nav li .progress .progress-bar {background:none;}*/
