@charset "utf-8";
@import url("../css/layout.css");

.sample_tit {margin-top:30px;font-size:20px;}
.line {padding-bottom:20px;border-bottom:1px solid red;}

.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.mt60 {margin-top:60px;}

.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml20 {margin-left:20px;}
.ml30 {margin-left:30px;}
.ml50 {margin-left:50px;}
.ml60 {margin-left:60px;}

.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr20 {margin-right:20px;}

.pt10 {padding-top:10px;}
.pdt15 {padding-top:15px;}
.pdt20 {padding-top:20px;}
.pdt30 {padding-top:30px;}

.pdlr20 {padding-left:20px;padding-right:20px;}

.col_2 {width:50%;}
.col_3 {width:33.3%;}
.col_15 {width:25%;}
.col_85 {width:75%;}
.col_100 {width:100%;}

.w30 {width:30px;}
.w80 {width:80px;}
.w100 {width:100px;}
.w130 {width:130px;}
.w140 {width:140px;}
.w150 {width:150px;}
.w170 {width:170px;}
.w200 {width:200px;}
.w210 {width:210px;}
.w227 {width:227px;}
.w330 {width:330px;}

.w820 {width:820px;}

.h220 {height:220px !important;}




.blue {color:#006ef7 !important;}
.green {color:#71ba32 !important;}
.red {color:#ee1a1a !important;}
.c_fff {color:#fff !important;}
.c_777 {color:#777 !important;}
.c_validate {color:#f70101 !important;}
.purple {color:#d62862;}

.bg_gray {background-color:#dcdfe4 !important;}
.bg_gray_b {background-color:#aaa !important;}
.bg_blue {background-color:#409eff !important;}
.bg_red {background-color:#ff4040 !important;}
.bg_green {background-color:#71ba32 !important;}
.bg_purple {background-color:#d62862 !important;}

/* 로그인 */
.login_box {position:absolute;top:50%;left:50%;width:550px;height:591px;margin:-310px 0 0 -275px;}
.login_box h1 {text-align:center;font-family:Myriad Pro;}
.login_box .login_con {width:550px;height:427px;margin-top:32px;padding:40px 0 0;border-top:10px solid #d62862;background-color:#fff;}
.login_box .login_con .pd_lr {padding:0 30px;}
.login_box .login_con h2 {font-size:24px;font-weight:bold;color:#d62862;text-transform:uppercase;}
.login_box .login_con .login_tit {margin-top:40px;font-size:14px;font-weight:bold;color:#555;}
.login_box .login_con .bg_id {background:url("../images/ico/bg_id.jpg") 97% 7px no-repeat;}
.login_box .login_con .bg_pwd {background:url("../images/ico/bg_pwd.jpg") 97% 7px no-repeat;}
.login_box .login_con .label_tit {margin-left:10px;color:#777;font-weight:bold;vertical-align:middle;}
.login_box .login_con .fp {color:#777;font-weight:bold;border-bottom:1px solid #777;}
.login_box .login_con input {vertical-align:middle;}
.login_box .login_con p {font-family:Myriad Pro;}

.line_top {border-top:1px solid #eceff4;}
/* input */
.input_border_gray {height:10px;padding:10px;line-height:12px;border:1px solid #dfe4ed;}

.input_control {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #dfe4ed;
  border-radius: 1px;
  color: inherit;
  display: inline-block;
  line-height: 15px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-size: 11px;
}
.input_control:focus {
  border-color: #d62862;
}

.w_465 {width:465px;}
.w_full {width:99%;}

.bg_cal {background:url("../images/ico/ico_cal.gif") 100% 0 no-repeat;}

/* btn */
.btn_login {display:inline-block;width:200px;height:35px;padding-top:5px;text-align:center;background-color:#d73b6f;}
.btn_login span {font-size:16px;color:#fff;font-family:Myriad Pro;}

.buttn {display:inline-block;font-family:arialMT;border-radius:3px;padding:4px 5px;vertical-align:middle;font-size: 11px;}
.buttn span {color:#fff;text-transform:uppercase;}

.btn_search {padding:7px 0;background-color:#d73b6f;}
.btn_search_selected {padding:7px 0;background-color:#4067bd;}
.btn_search_b {padding:9px 0 10px;background-color:#d73b6f;}
.btn_search_b span {font-size:16px;}

.btn_save {padding:7px 0;background-color:#d73b6f;}

.btn_cancel {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%, #f3f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
	border:1px solid #c7c7c7;
}
.btn_cancel span {color:#777;font-family:arialMT;}
.big {padding:9px 0;}

.zipcode {
	background: #f6f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #eeeeee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f6f6f6 0%, #eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f6f6f6 0%, #eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border:1px solid #c7c7c7;
}
.zipcode span {color:#aaa;}

.m_w60 {min-width:60px;}
.m_w70 {min-width:70px;}
.m_w120 {min-width:120px;}


/* 대시보드 */
.bet_win_box {}
.bet_win_box .bw_box {padding:25px 30px 25px 120px;border:1px solid #dfe4ed;background-color:#fff;}
.bet_win_box .bw_box .bw_tit {font-family:Myriad Pro;font-size:18px;font-weight:bold;color:#555;}
.bet_win_box .bw_box .bw_cash {margin-top:5px;font-size:14px;font-family:Myriad Pro;color:#b2b2b2;}
.bet_win_box .bw_box .bw_cash strong {font-size:30px;color:#d62862;}

.ico_bet {background:url("../images/ico/ico_bet.jpg") 25px 36px no-repeat;}
.ico_win {background:url("../images/ico/ico_win.jpg") 46px 30px no-repeat;}
.ico_bet_win {background:url("../images/ico/ico_bet_win.jpg") 44px 32px no-repeat;}

.box_con {padding:20px 0;border:1px solid #dfe4ed;background-color:#fff;}
.box_con_body {padding:20px;}
.pdlr_0 {padding:20px 0;}

/* title */
.tit {padding:0 0 15px 20px;font-size:18px;color:#561028;text-transform:uppercase;}
.tit_s {padding:0 0 20px 20px;font-size:18px;font-family:Myriad Pro;color:#d62862;text-transform:uppercase;border-bottom:1px solid #dfe4ed;}

.s_title {display:inline-block;}

/* table */
.table_list {}
.table_list table {width:100%;}
.table_list table thead {}
.table_list table thead th {padding:15px 30px;font-family:Myriad Pro;font-weight:bold;background-color:#eceff4;border:1px solid #fff;text-transform:uppercase;}
.table_list table thead th,.table_list table tbody td {font-size:12px;}
.table_list table tbody th {}
.table_list table tbody td {padding:8px 30px;min-height:40px;font-family:Myriad Pro;border-bottom:1px solid #eceff4;}

.table_write {border-top:1px solid #a3b4d1;border-bottom:1px solid #a3b4d1;}
.table_write table {width:100%;}
.table_write table tbody th,.table_write table tbody td {font-size:11px;}
.table_write table tbody th {padding:15px 30px;font-family:Myriad Pro;background-color:#eceff4;border:1px solid #fff;text-transform:uppercase;}
.table_write table tbody td {padding:10px 30px;font-family:Myriad Pro;border-top:1px solid #eceff4;}

.table_center th,.table_center td {text-align:center;}
.table_th_center thead th {text-align:center;}
.table_th_center_2 th {text-align:center;}
.table_th_right th {text-align:right;}

.table_list table .tr {text-align:right;}

/* select */
.select_control {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #dfe4ed;
  border-radius: 1px;
  color: inherit;
  display: inline-block;
  height: 28px;
  line-height: 30px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-size: 11px;
  font-family:arial;
  font-weight:bold;
}

.select_control_list {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #dfe4ed;
    border-radius: 1px;
    color: inherit;
    display: inline-block;
    height: 26px;
    line-height: 30px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-size: 11px;
    font-family:arial;
    font-weight:bold;
}

.select_control:focus {
  border-color: #561028;
}

.actived {background-color:#409eff;}
.disabled {background-color:#aaa;}
.disabled_2 {color:#ddd;}

/* search */
.search_box {}

.inline_block {display:inline-block;}

.red_tip {color:#ff0000;}

/* paging */
.paging {text-align:center;}
.paging li {display:inline-block;min-width:20px;padding:6px 5px;text-align:center;border:1px solid #ddd;}
.paging li.active {color:#fff;border:1px solid #aaa;background-color:#aaa;}

/* sub */
.wizard_box {overflow:hidden;width:1260px;margin:0 auto;}
.wizard_box li {float:left;width:306px;height:80px;padding-top:100px;text-align:center;}
.wizard_box li .wizard_tit {font-size:16px;color:#ececec;font-weight: bold;}
.wizard_box li .wizard_txt {margin-top:8px;font-size:12px;color:#c7c7c7;}
.wizard_box li.on .wizard_txt {color:#555;}

.wizard_box li.wizard_01 {background:url("../images/sub/num_1_on.png") 100% 0 no-repeat;}
.wizard_box li.wizard_01.on .wizard_tit {font-size:16px;color:#d62862;}

.wizard_box li.wizard_02 {background:url("../images/sub/num_2_off.png") 100% 0 no-repeat;}
.wizard_box li.wizard_02.on {background:url("../images/sub/num_2_on.png") 100% 0 no-repeat;}
.wizard_box li.wizard_02.on .wizard_tit {font-size:16px;color:#d62862;}

.wizard_box li.wizard_03 {background:url("../images/sub/num_3_off.png") 100% 0 no-repeat;}
.wizard_box li.wizard_03.on {background:url("../images/sub/num_3_on.png") 100% 0 no-repeat;}
.wizard_box li.wizard_03.on .wizard_tit {font-size:16px;color:#d62862;}
.wizard_box li.wizard_03_end {width:193px; background:url("../images/sub/num_3_off_end.png") 100% 0 no-repeat;}
.wizard_box li.wizard_03_end.on {background:url("../images/sub/num_3_on_end.png") 100% 0 no-repeat;}
.wizard_box li.wizard_03_end.on .wizard_tit {width:300px; font-size:16px;color:#d62862;}

.wizard_box li.wizard_04 {background:url("../images/sub/num_4_off.png") 0 0 no-repeat;}
.wizard_box li.wizard_04.on {background:url("../images/sub/num_4_on.png") 0 0 no-repeat;}
.wizard_box li.wizard_04.on .wizard_tit {font-size:16px;color:#d62862;}


/* 20160919 */
.btn_drop {display:inline-block;font-family:arialMT;border-radius:2px;padding:0px 5px;background:url("../images/ico/ico_down.png") 87% 50% no-repeat;font-size: 11px;}
.btn_drop span {display:inline-block;height:24px;font-family:Nanum Gothic;color:#fff;vertical-align:top;line-height:23px;text-transform:uppercase;}

.drop_box {position:relative;display:inline-block;}
.drop_box .drop_menu {
    display:none;position:absolute;top:30px;right:0;width:110px;padding:10px 15px;border:1px solid #ccc6c6;background-color:#fff;border-radius:5px;z-index:1000;
    /* Opera */
    box-shadow:10px 10px 10px silver;

    /* Firefox */
    -moz-box-shadow:10px 10px 10px silver;

    /* Safiri, Chrome */
    -webkit-box-shadow:10px 10px 10px silver;

    /* IE */
    filter:progid:DXImageTransform.Microsoft.Shadow(color=silver,direction=135, strength=20);
}
.drop_box .drop_menu li {margin-top:10px;font-size:11px;text-align:left;}
.drop_box .drop_menu li:first-child {margin:0;}
.drop_box .drop_menu li a {font-size:11px;}
.drop_box .drop_menu li a:hover {color:#d62862;}
.drop_box .drop_menu li button {font-size:11px;}
.drop_box .drop_menu li input {font-size:11px;border:0;background:none;}



/* 20161013 */
.btn_box {float:left;}

.col_2_table {width:49%;}



.folder-list li a {
    color: #666666;
    display: block;
    padding: 5px 0;
}
.folder-list li {
    border-bottom: 1px solid #e7eaec;
    display: block;
}
.folder-list li i {
    margin-right: 8px;
    color: #3d4d5d;
}



























