@charset "utf-8";
@import url("../css/reset.css");

body {background-color:#eceff4;}
.bg_login {background-color:#2e3438;}


#wrap {min-width:1430px;}

#header {position:relative;background-color:#110308;}
#header h1 {}

.user_info {padding:10px;}

.user_info .SYSTEM {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#ff2947;}
.user_info .MASTER {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#2965ff;}
.user_info .OPERATOR {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#f69d10;}
.user_info .SITE {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#6f29ff;}
.user_info .MASTERAGENT {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#21a80b;}
.user_info .AGENT {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#e96413;}
.user_info .VENDOR {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#aaaaaa;}

.user_info .site_address {color:#fff;border-bottom:1px solid #fff;}
.user_info .total {color:#fff;}
.user_info .total strong {margin-right:10px;color:#ee1c62;}
.top_menu {float:left;margin-top:5px;}
.top_menu > li {position:relative;float:left;margin-left:20px;padding-left:20px;background:url("../images/ico/ico_bar.gif") 0 0 no-repeat;}
.alert_box {display:inline-block;padding:0 0 8px 18px;background:url("../images/ico/ico_alert.jpg") 0 0 no-repeat;}
.alert_box .num_alert {display:inline-block;margin-top:-5px;padding:2px 3px 1px;color:#fff;background-color:#d62862;}
.btn_logout {display:inline-block;padding:2px 0 2px 26px;color:#fff !important;background:url("../images/ico/ico_logout.jpg") 0 0 no-repeat;}

.lang_select {color:#fff;}
.lang_select a {display:inline-block;width:95px;font-size:11px;font-family:arial;font-weight:bold;color:#fff;background:url("../images/common/down.jpg") 100% 5px no-repeat;}
.dropdown .KOREA {padding-left:36px;background:url("../images/common/kor.jpg") 11px 0 no-repeat;}
.top_menu .ENGLISH {padding-left:30px;background:url("../images/common/eng.jpg") 0 0 no-repeat;}
.top_menu .CHINA {padding-left:30px;background:url("../images/common/chn.jpg") 0 0 no-repeat;}
.top_menu .jp {padding-left:30px;background:url("../images/common/jpn.jpg") 0 0 no-repeat;}

.lang_list {display:none;position:absolute;top:22px;left:30px;width:123px;border:1px solid #dfe4ed;background-color:#fff;z-index:1000;}
.lang_list li {border-top:1px solid #dfe4ed;}
.lang_list li a {display:block;padding:10px;color:#555;font-size:11px;font-family:arial;font-weight:bold;}
.lang_list li:hover {background-color:#eceff4;}
.lang_list .KOREA {padding-left:25px;background:url("../images/common/kor.jpg") 10px 10px no-repeat;}
.lang_list .ENGLISH {padding-left:25px;background:url("../images/common/eng.jpg") 10px 10px no-repeat;}
.lang_list .CHINA {padding-left:25px;background:url("../images/common/chn.jpg") 10px 10px no-repeat;}
.lang_list .jp {padding-left:25px;background:url("../images/common/jpn.jpg") 10px 10px no-repeat;}

#gnb {position:relative;height:80px;padding-left:191px;background-color:#d62862;}
#gnb h1 {position:absolute;top:0;left:0;}
#gnb a {font-family:Myriad Pro;}
#gnb .gnb_menu {zoom:1;}
#gnb .gnb_menu:after{display:block;clear:both;content:"";}
#gnb .gnb_menu > li {position:relative;float:left;border-left:1px solid #e67ea1;}
#gnb .gnb_menu > li:first-child {margin:0;}
#gnb .gnb_menu > li > a {display:block;height:75px;margin-top:5px;text-align:center;color:#fff;text-transform:uppercase;}
#gnb .gnb_menu > li > a span {display:block;padding-top:50px;}
#gnb .gnb_menu > li.on > a {background-color:#561028;}
#gnb .gnb_menu > li.hover > a {background-color:#561028;}
#gnb .gnb_menu > li > a:hover {background-color:#561028;}
#gnb .gnb_menu > li.on .depth {display:block;}

#gnb .gnb_menu > li .depth {display:none;position:absolute;top:80px;left:0;height:40px;}
#gnb .gnb_menu > li .depth li {float:left;margin-left:50px;}
#gnb .gnb_menu > li .depth li:first-child {margin:0;}
#gnb .gnb_menu > li .depth li a {display:inline-block;padding:15px 0;font-size:11px;color:#adb9a2;}
#gnb .gnb_menu > li .depth li.on a {color:#fff;}
#gnb .gnb_menu > li .depth li:hover a {color:#fff;}
.depth_2 {width:500px;}
.depth_3 {width:400px;}
.depth_4 {width:700px;}
.depth_5 {width:600px;}
.depth_6 {width:600px;margin-left:-440px;}
.depth_7 {width:600px;margin-left:-440px;}
.depth_8 {width:830px;margin-left:-290px;}
.depth_8_level2 {width:830px;margin-left:5px;}
#gnb .menu_3 {}
#gnb .menu_3 > li {width:30%;}
#gnb .menu_8 {}
#gnb .menu_8 > li {width:12%;}

#gnb .operator > li {width:14.2%;}
#gnb .master > li {width:19.9%;}
#gnb .system > li {width:19.9%;}

.bg_depth {display:none;height:40px;margin-left:-191px;background-color:#561028;}

.ico_dash {background:url("../images/ico/ico_dash.png") 50% 16px no-repeat;}
.ico_report {background:url("../images/ico/ico_report.png") 50% 16px no-repeat;}
.ico_acc {background:url("../images/ico/ico_acc.png") 50% 16px no-repeat;}
.ico_server {background:url("../images/ico/ico_server.png") 50% 16px no-repeat;}
.ico_anal {background:url("../images/ico/ico_anal.png") 50% 16px no-repeat;}
.ico_event {background:url("../images/ico/ico_event.png") 50% 16px no-repeat;}
.ico_stat {background:url("../images/ico/ico_stat.png") 50% 16px no-repeat;}
.ico_setting {background:url("../images/ico/ico_setting.png") 50% 16px no-repeat;}
.ico_management {background:url("../images/ico/ico_management.png") 50% 13px no-repeat;}

#container {padding:50px 50px 20px 50px;}
.contents {zoom:1;}
.contents:after{display:block;clear:both;content:"";}

.navi {overflow:hidden;}
.navi li {float:left;margin-left:11px;padding-left:17px;font-size:14px;background:url("../images/ico/ico_l_arrow.gif") 0 3px no-repeat;}
.navi li img {padding-top: 2px;}
.navi li:first-child {margin:0;padding:0;background:none;}

.table_list .SYSTEM {display:inline-block;width:170px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#ff2947;}
.table_list .MASTER {display:inline-block;width:150px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#2965ff;}
.table_list .OPERATOR {display:inline-block;width:130px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#f69d10;}
.table_list .SITE {display:inline-block;width:110px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#6f29ff;}
.table_list .MASTERAGENT {display:inline-block;width:90px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#21a80b;}
.table_list .AGENT {display:inline-block;width:70px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#e96413;}
.table_list .VENDOR {display:inline-block;width:135px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#aaaaaa;}

.table_write .SYSTEM {display:inline-block;width:130px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#ff2947;}
.table_write .MASTER {display:inline-block;width:130px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#2965ff;}
.table_write .OPERATOR {display:inline-block;width:130px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#f69d10;}
.table_write .SITE {display:inline-block;width:130px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#6f29ff;}
.table_write .MASTERAGENT {display:inline-block;width:130px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#21a80b;}
.table_write .AGENT {display:inline-block;width:130px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#e96413;}
.table_write .VENDOR {display:inline-block;width:130px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#aaaaaa;}


.SYSTEM {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#ff2947;}
.MASTER {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#2965ff;}
.OPERATOR {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#f69d10;}
.SITE {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#6f29ff;}
.MASTERAGENT {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#21a80b;}
.AGENT {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#e96413;}
.VENDOR {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#aaaaaa;}

.BETS {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#aaaaaa;}
.WINS {display:inline-block;width:98px;padding:5px 0;text-align:center;text-transform:uppercase;font-size:11px;color:#fff;background-color:#aaaaaa;}


.table_list .POST {display:inline-block;width:35px;height:10px;padding:2px 0;text-align:center;text-transform:uppercase;font-size:8px;color:#fff;background-color:#c70000;}
.table_list .PRE {display:inline-block;width:35px;height:10px;padding:2px 0;text-align:center;text-transform:uppercase;font-size:8px;color:#fff;background-color:#0063c7;}

.table_list .GIVE {display:inline-block;width:35px;height:10px;padding:2px 0;text-align:center;text-transform:uppercase;font-size:8px;color:#fff;background-color:#c70000;}
.table_list .TAKE {display:inline-block;width:35px;height:10px;padding:2px 0;text-align:center;text-transform:uppercase;font-size:8px;color:#fff;background-color:#0063c7;}
.table_list .REQ {display:inline-block;width:35px;height:10px;padding:2px 0;text-align:center;text-transform:uppercase;font-size:8px;color:#fff;background-color:#aaaaaa;}

.table_list .CONFIRM {display:inline-block;width:80px;padding:2px 0;text-align:center;text-transform:uppercase;font-size:12px;color:#fff;background-color:#7b8ebf;}
.table_list .REQUEST {display:inline-block;width:80px;padding:2px 0;text-align:center;text-transform:uppercase;font-size:12px;color:#fff;background-color:#7bbf81;}
.table_list .PENDING {display:inline-block;width:80px;padding:2px 0;text-align:center;text-transform:uppercase;font-size:12px;color:#fff;background-color:#bb7bbf;}
.table_list .CANCEL {display:inline-block;width:80px;padding:2px 0;text-align:center;text-transform:uppercase;font-size:12px;color:#fff;background-color:#bd8585;}

.table_list .st .REQ {display:inline-block;width:45px;height:10px;padding:2px 0;text-align:center;text-transform:uppercase;font-size:8px;color:#fff;background-color:#c70000;}
.table_list .st .DONE {display:inline-block;width:45px;height:10px;padding:2px 0;text-align:center;text-transform:uppercase;font-size:8px;color:#fff;background-color:#0063c7;}
.table_list .st .SUSPEND {display:inline-block;width:45px;height:10px;padding:2px 0;text-align:center;text-transform:uppercase;font-size:8px;color:#fff;background-color:#aaaaaa;}













