@charset "utf-8";

/* Reset */
html,body{height:100%;/*line-height:18px;*/}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {margin:0;padding:0;}
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary {display:block;margin:0;padding:0;color:#555;vertical-align:baseline;font-family:"돋움",Dotum,Verdana,Geneva,sans-serif}/* html5 css정의 */
body, th, td, div, p, li, dt, dd, input, textarea, select, button {color:#555;font-size:12px;font-family:Myriad Pro,'나눔고딕', Nanum Gothic,Dotum,"돋움","굴림",Gulim,arial,AppleGothic,Sans-serif;}
fieldset, img, area {border:0 none;vertical-align:top;}
ul, ol {list-style:none;} 
h1,h2,h3,h4,h5,h6 {font-size:12px;font-weight:normal;text-align:left;}
hr {display:none;}
a {color:#666;}
a:link, a:visited, a:active {color:#666;text-decoration:none;}
a:hover {color:#666;text-decoration:none;}

caption, th {text-align:left;font-weight:normal;}
legend, caption {overflow:hidden;left:0;top:-5000px;width:0;height:0;font-size:0;line-height:0;display:none;}

button,label{cursor:pointer;}
button {display:inline-block;border:0;vertical-align:top;}
/*button img{left:-3px;*left:auto}*/
button * {position:relative;}
button span {}
textarea{*margin:-1px 0;resize:none;}
em,address{font-style:normal}
button {border: 0 none;background-color: transparent;cursor: pointer;}
table {width:100%;}
table, table th, table td {border-collapse:collapse;border-spacing:0;}
table td a {text-decoration:underline;}

/*
a:active {outline:none;}
a {outline:none;}
a {selector-dummy: expression(this.hideFocus=true);}
*/
/* Common */
.cfx:after{display:block;clear:both;content:"";}
.cfx{zoom:1;}

.overh {overflow:hidden;clear:both;}
.clear{display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}
.blind {position:absolute;left:0;top:0;width:0;height:0;overflow:hidden;font-size:0;line-height:0;visibility:hidden;}

.vt {vertical-align:top;}
.vm {vertical-align:middle;}
.fl {float:left;}
.fr {float:right;}
.tl {text-align:left !important;}
.tr {text-align:right;}
.tc {text-align:center !important;}
.spacing {letter-spacing:normal !important;}

.bgn {background:0 !important;}
.bgnone {background:none !important;}

.hide {display:none;}
.show {display:block;}